$theme-colors: (
    "powder": #eeeeee,
    "silver": #c0c0c0,
    "cloud" : #777777,
    "onyx"  : #444444,
    "black" : #000000,
);

$grid-breakpoints: (xxs: 0,
    xs: 320px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);
